@charset "utf-8";
.character {
   display: grid;
   grid-template-columns: 50% 50%;
 }
 .cell {
   box-sizing: border-box;
 }
 .cell-b{
 	padding-top: 40px;
 }
.staff {
	padding-left: 20px;
	display: inline-block;
	font-size: 15px;
	position: relative; 
	bottom: 58px;
	}